/*DOCUMENTO CSS*/
* {margin: 0px;
padding: 0px;}

body{}

h2 {font-size: 34px;
padding: 16px 0px;}

h1 {text-align: center;
padding-bottom: 32px;
color: white;
font-size: 40px;}

.card {background-color: black;
padding: 80px 0px;}

.container {background-color: purple;
width: 100%;
min-height: 1px;
margin: auto;
display: flex;
flex-flow: column wrap; /*flex-flow: row wrap;*/
box-sizing: border-box;



}

.items {background-color: whitesmoke;
width: 100%;
min-height: 100px;
text-align: center;
box-sizing: border-box;
border-radius: 16px;

}

.items p {font-size: 18px;
    line-height: 130%;
text-align: left;
padding: 16px;
box-sizing: border-box;
}


.items img {width: 100%;
height: 800px;
border-radius: 16px;}

.dos {align-self: flex-start;}


/*PANTALLAS DE 600PX EN ADELANTE*/
@media only screen and (min-width:600px) {

h1 {font-size: 56px;}
h2 {font-size: 40px;
text-decoration: solid;}

.items p {font-size: 24px;}
}


/*PANTALLAS DE 992PX EN ADELANTE*/
@media only screen and (min-width:992px) {

.container {flex-flow: row wrap;}

    .items { 
        width: 33.33%;
     
   }
}


/*PANTALLAS DE 1380PX EN ADELANTE*/
@media only screen and (min-width:1380px) {
   .container { width: 70%;
    justify-content: space-between;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
   background-color: transparent;
   }
   
   .items { border-radius: 16px;
width: 30%;}


}
